fastapi==0.115.12
uvicorn==0.34.1
python-multipart==0.0.20
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.1
torch==2.14.0
mediapipe==0.10.21
opencv-python==4.11.0.86
joblib==1.4.2
python-dotenv==1.0.1
supabase==2.4.4
psycopg2-binary==2.9.9
PyJWT[crypto]==2.10.1
slowapi==0.1.10
imageio==2.34.2
imageio-ffmpeg==0.5.1
